@mixin cardStyle{
    
display: flex;
flex-direction: column;

    & .card__header{
        display: flex;
        flex-direction: row;

        & .card__image{
            width: 20rem;
            height:20rem;
            contain:size;
        }
    }
}