
// COLOURS
$grey-details: #c2beb2;
$light-green: #ebeddb;
$medium-green: #588157;

//FONTS
$font-titles: Nothing You Could Do, cursive;
$font-body: 'Plus Jakarta Sans', sans-serif;

//MIXIN Horizontal LINES
@mixin hrStyle {
    border-width: 0 0 3px;
    $color: rgb(73, 73, 73);
    border-image: linear-gradient(
    90deg,
    rgba($color, 0),
    rgba($color, 1) 50%,
    rgba($color, 0) 100%) 0 0 100%;
    border-style: solid; 
}

// Style of category & diet
@mixin description{
    text-transform: uppercase;
    font-size: 0.938rem;
    line-height: 1.563rem;
    letter-spacing: 0.33rem;
}
@mixin underline ($color){
    background-image: linear-gradient(to bottom, transparent 50%, $color 100%);  
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: 96% 0.9em;
    background-position: 0 36%;
}